<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissões de localização para geolocator -->
    <!-- Necessária no build de release: Supabase e tiles do mapa -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Permissões para acompanhamento contínuo em segundo plano / tela bloqueada -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="Sussurro"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Foreground service do geolocator para acompanhamento ao vivo contínuo -->
        <service
            android:name="com.baseflow.geolocator.GeolocatorLocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>

        <!-- Atalhos da tela inicial. Só um fica ativo por vez (ver
             MainActivity.definirModoDiscreto). O modo discreto troca o
             ícone e o nome por um bloco de notas genérico, para não revelar
             o app a quem mexer no celular. Disfarces: Anotações (AtalhoDiscreto),
             Calculadora, Treinos e Receitas. -->
        <activity-alias
            android:name=".AtalhoPadrao"
            android:targetActivity=".MainActivity"
            android:label="Sussurro"
            android:icon="@mipmap/ic_launcher"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AtalhoDiscreto"
            android:targetActivity=".MainActivity"
            android:label="Anotações"
            android:icon="@mipmap/ic_launcher_discreto"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AtalhoCalculadora"
            android:targetActivity=".MainActivity"
            android:label="Calculadora"
            android:icon="@mipmap/ic_launcher_calculadora"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AtalhoTreinos"
            android:targetActivity=".MainActivity"
            android:label="Treinos"
            android:icon="@mipmap/ic_launcher_treinos"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AtalhoReceitas"
            android:targetActivity=".MainActivity"
            android:label="Receitas"
            android:icon="@mipmap/ic_launcher_receitas"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Necessário para url_launcher: discador (tel:) -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
        <!-- Necessário para url_launcher: abrir links https (WhatsApp, Maps) -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <!-- url_launcher usa VIEW para tel: e sms: (Android 11+ exige declarar) -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
        <!-- Necessário para url_launcher: abrir SMS -->
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto"/>
        </intent>
    </queries>
</manifest>

